{% extends "layout.html" %}
{% load static %}
{% block extra_css %}
<link href="{% static 'users/style.css' %}?v=1.1" rel="stylesheet">
{% endblock %}


  {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark navbar-translucent sticky-top bg-body-tertiary border-bottom border-body-secondary">
      <div class="container-fluid">
        <div class="d-flex align-items-center ms-5">
          <img src="{% static 'images/logo.png' %}" alt="Moctale Logo" style="height: 25px; margin-right: 10px;">
          <a class="navbar-brand mb-0 fw-bold" href="#">MOCTALE</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="ms-auto d-flex gap-2">
            <a href="{% url 'register' %}" class="btn btn-dark btn btn-primary text-center fw-semibold" style="background-color: #000000; margin-right: 5px; width:85.5px;height:37px; font-size:15px;">Sign Up</a>
            <a href="{% url 'login' %}" class="btn btn btn-primary text-center fw-semibold" style="background-color: #4f15e1; color: white;  margin-right:60px; width: 69px; height:36px; font-size:17px; ">Login</a>
          </div>
          </div>
        </div>
      </div>
    </nav>
    {% endblock  %}
    
{% block content %}

<div class="container auth-wrapper">
    <div class="auth-card">
        <h2>Join Moctale</h2>
        
        {% if form.errors %}
            <div class="validation-alert">
                <p>
                    {% for errors in form.errors.values %}
                        {% if forloop.first %}
                            {{ errors.0|striptags }}
                        {% endif %}
                    {% endfor %}
                </p>
            </div>
        {% endif %}
        <form method="POST">
            {% csrf_token %} 
            
            {% for field in form %}
                <div class="form-group mb-3">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
            
            <button type="submit" class="btn-primary-1 mt-3">Sign Up</button>
        </form>
        
        <p class="auth-switch">Already have an account? <a href="{% url 'login' %}">Log In</a></p>
    </div>
</div>
{% endblock %}