/* Custom Dark Blue Theme overrides */
[data-bs-theme="dark"] {

    /* Text colors (Crisp ice-blue) */
    --bs-body-color: #c9d0db !important;
    --bs-body-color-rgb: 226, 232, 240 !important;


    /* Borders and Links */
    --bs-border-color: #283749 !important;
    --bs-link-color: #eaf2f2 !important;
}

/* Force Bootstrap components to use your dark blue surface color */
[data-bs-theme="dark"] body {
    background-color: #000000 !important;
}

[data-bs-theme="dark"] .card,
[data-bs-theme="dark"] .navbar,
[data-bs-theme="dark"] .modal-content,
[data-bs-theme="dark"] .list-group-item {
    
    background-color: #160211 !important;
    color: #e2e8f0 !important;
    border-color: #283c55 !important;
}